{% extends 'templates/base/main.html' %}

{% block content %}
<div class="container">
<hr>
  <h3 class="mb-4">{{ request.user.username | upper }} Dashboard</h3>
    <hr>
<br>
    <div class="container">
  <div id="notification"></div>

</div>
<hr>
    <br><br>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Pending Quizzes</h2>
          <p class="card-text">View your pending quizzes.</p>
          <a href="{% url 'pending-quiz' %}" class="btn btn-success">View Quizzes</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">View Quiz History</h2>
          <p class="card-text">View the history of all the quizzes.</p>
          <a href="{% url 'quiz-history' %}" class="btn btn-danger">View Quiz History</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Set Profile</h2>
          <p class="card-text">Update your profile information.</p>
          <a href="{% url 'update-student' request.user.id %}" class="btn btn-warning">Set Profile</a>
        </div>
      </div>
    </div>

      <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Leaderboard</h2>
          <p class="card-text">View the top scorers.</p>
          <a href="{% url 'leaders' %}" class="btn btn-success">View Top Scorers</a>
        </div>
      </div>
    </div>

       <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Your Scores</h2>
          <p class="card-text">View your scorers.</p>
          <a href="{% url 'myscores' %}" class="btn btn-danger">View Your Scorers</a>
        </div>
      </div>
    </div>

      <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">View Classrooms</h2>
          <p class="card-text">View your enrolled classrooms.</p>
          <a href="{% url 'classrooms-student' %}" class="btn btn-warning">View Classrooms</a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

#notification {
  max-height: 300px;
  overflow-y: auto;
  background-color: lightseagreen ;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.notification-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.5s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
</style>

{% endblock %}

{% block end_script %}
    <script>
function sendHello() {
  var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/' + {{ request.user.pk }});
  ws.onopen = function() {
    ws.send('Hello World!');
  };
  ws.onmessage = function(event) {
    var notificationDiv = document.getElementById('notification');
    var notificationItem = '<div class="notification-item">' + event.data + '</div>';
    notificationDiv.insertAdjacentHTML('beforeend', notificationItem);
    notificationDiv.scrollTop = notificationDiv.scrollHeight;
  };
}
sendHello();

    </script>


{% endblock end_script %}