{% extends 'templates/base/main.html' %}

{% block content %}

<div class="container">
<hr>
    <center>
        <h3 class="mb-4" style="font-size: 2.5rem; color: black; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Welcome to our Learning Hub</h3>    <hr></center>
<br>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Student</h2>
          <p class="card-text">Login as Student</p>
          <a href="{% url 'student-login' %}" class="btn btn-success">Login</a>
            <hr>
            <button type="button" class="btn btn-link" style="color: black"><a href="{% url 'student-signup' %}" style="color: black">No account? Sign-up as Student</a></button>

        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Teacher</h2>
          <p class="card-text">Login as Teacher</p>
          <a href="{% url 'teacher-login' %}" class="btn btn-danger">Login</a>
            <hr>
            <button type="button" class="btn btn-link" style="color: black"><a href="{% url 'teacher-signup' %}" style="color: black">No account? Sign-up as Teacher</a></button>

        </div>
      </div>
    </div>

         <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Admin</h2>
          <p class="card-text">Login as Admin</p>
          <a href="{% url 'admin' %}" class="btn btn-danger">Login</a>
            <hr>
{#            <button type="button" class="btn btn-link" style="color: black"><a href="{% url 'home' %}" style="color: black">No account? You cannot Access this.</a></button>#}
 <p style="color: black">No account? You cannot Access this.</p>

        </div>
      </div>
    </div>

  </div>
</div>

<style>
.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}
</style>

{% endblock %}
