{% extends 'templates/base/main.html' %}

{% block content %}
<hr>
    <h4>Login Teacher</h4>
    <hr>
    <form method="POST" action="{% url 'teacher-login' %}">
        {% csrf_token %}
        <label for="name">Username: </label>
        <input type="text" name="username" required><br><br>
        <label for="password">Password: </label>
        <input type="password" name="password" required><br><br>
        <button type="submit" class="btn btn-warning">Login</button>
        <button type="button" class="btn btn-link" style="color: black"><a href="{% url 'forgot-pw' %}" style="color: black">Forgot Password?</a></button>
    </form>
<br>

{% endblock %}
