{% extends 'templates/base/main.html' %}

{% block content %}
<div class="container">
<hr>
    {% if quiz_score.status_pass %}
  <h3 class="mb-4" style="color: darkblue">Congratulations! You have Passed the Quiz.</h3>
    {% else %}
    <h3 class="mb-4" style="color: darkred">Sorry! You Failed, Try Again!</h3>
    {% endif %}
<hr>
<br>
<center>
    <div class="col-md-12 mb-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{ quiz_score.quiz_id.title }}</h2>
          <p class="card-text">Your Score</p>
            <p>{{ quiz_score.score }}/{{ quiz_score.quiz_id.total_score }}</p>
          <a href="{% url 'dashboard-student' %}" class="btn btn-danger">Back to Home</a>
        </div>
      </div>
    </div>
    </center>

</div>

<style>
.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}
</style>

{% endblock %}
