
{% extends 'templates/base/main.html' %}

{% block content %}

<div class="container">
<hr>
    <center>
  <h3 class="mb-4">Your Quizzes</h3></center>
    <hr>
<br>
<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Search" class="btn btn-warning">
</form>
<br><br><br>
  <div class="row">
  {% if my_quizzes %}
      {% for quiz in my_quizzes %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{ quiz.quiz_id.title }}</h2>
            <hr>
            <p class="card-text"><i>Your Score: </i> <strong> {{ quiz.score }}</strong></p>
            <p class="card-text"><i>Difficulty Level: </i> <strong> {{ quiz.quiz_id.difficulty_level }}</strong></p>
            <p class="card-text"><i>Category: </i> <strong> {{ quiz.quiz_id.category}}</strong></p>
            <p class="card-text"><i>Status: </i> <strong> {{ quiz.status_pass}}</strong></p>


        </div>
      </div>
    </div>
      {% endfor %}
  {% else %}
  <h3>No Quizzes Given </h3>
    {% endif %}

  </div>
</div>

<style>
.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}
</style>

{% endblock %}
