{% extends 'templates/base/main.html' %}

{% block content %}
<hr>
<h4>Quiz Creation</h4>
<hr>
<br>
<form method="post"  action="" id="form-container">
    {% csrf_token %}
    {{ form.as_p }}
    <div id="question-formset">
    <hr>
    <center><i>
    <h4>Questions</h4></i></center>
    <hr>
        {{ question_formset.management_form }}
        {% for form in question_formset %}
            <div class="question-form">
                {{ form.as_p }}
{#               <button type="button" class= "remove-question btn btn-danger">X</button>#}
                <hr>
            </div>
        {% endfor %}
    </div>
    <button type="button" id="add-question" class="btn btn-primary">Add Question</button>
    <button type="submit" class="btn btn-warning" value="submit">Create Quiz</button>
</form>
<hr>
<button type="button" class="btn btn-danger"><a href="{% url 'dashboard-teacher' %}" style="color: whitesmoke">Go back</a></button>
<hr>
<br>

{% with question_formset.empty_form as empty_form %}
    <div id="empty-form" style="display:none">
        {{ empty_form.as_p }}
{#        <button type="button" class="remove-question btn btn-danger">X</button>#}
        <hr>
    </div>
{% endwith %}

<script type="text/javascript">
            let questionForm = document.querySelectorAll(".question-form")
            let container = document.querySelector("#form-container")
            let addButton = document.querySelector("#add-question")
            let totalForms = document.querySelector("#id_quiz_question-TOTAL_FORMS")
            {#console.log({{ question_formset.management_form }})#}
            console.log(container)
            let formNum = questionForm.length-1
            console.log(formNum)
            addButton.addEventListener('click', addForm)

            function addForm(e) {
                e.preventDefault()
                let formRegex = RegExp(`quiz_question-(\\d){1}-`,'g')
                console.log("Form regex",formRegex)

                let newForm = questionForm[0].cloneNode(true)
                console.log("new form", newForm)


                formNum++

                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `quiz_question-${formNum}-`)
                console.log("Updated form new form", newForm)
                container.insertBefore(newForm, addButton)

                totalForms.setAttribute('value', `${formNum+1}`)

                console.log(formNum)

            }



</script>

{% endblock %}
