{% extends 'templates/base/main.html' %}

{% block content %}
<hr>
<h4>Welcome to {{ quiz.title }}</h4>
    <br>
    <h6>By:<strong> Professor {{ teacher|upper }}</strong></h6>
<hr>

    <span>
        <h8><i>Instructions:  <strong>{{ quiz.description }}</strong></i></h8>
    </span>
    <hr>
    <br>
    <h3 style="text-align:left;">
    Quiz Started
        <span style="float:right;" id="minutes">
            <i>Time Limit: {{ quiz.time_limit }} minutes</i>
    </span>
</h3>
<hr>
    <form method="post" id="submits">

    {% for question_form in forms %}
    <h3>{{ question_form.0.question_text }}</h3>
        <br>
        {% csrf_token %}
        {{ question_form.1.as_p }}

{% endfor %}
        <input type="submit" value="Submit" class="btn btn-warning">
    </form>

    <hr>
    <br>
{% endblock %}
{% block end_script %}

<script>
let limit = {{ quiz.time_limit }}
    var countDownDate = new Date().getTime() + limit*60000;

    var x = setInterval(function() {
        var now = new Date().getTime();

        var distance = countDownDate - now;

        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("minutes").innerHTML = "<i>Time Limit: " + minutes + "m " + seconds + "s</i>";

        if (distance < 0) {
            clearInterval(x);
            document.getElementById("submits").submit();
        }
    }, 1000);
</script>

{% endblock end_script %}
