
{% extends 'templates/base/main.html' %}

{% block content %}

<div class="container">
<hr>
    <center>
  <h3 class="mb-4">Your Classrooms</h3></center>
    <hr>
<br>

  <div class="row">
      {% for class in classrooms %}
    <div class="col-md-5 mb-5">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{ class.name }}</h2>
            <hr>

            <p class="card-text"><i>Students: </i>
                 {% for i in class_students %}
                {% if i.classroom == class %}
               <p> <strong> {{ i.student }}</strong></p>
                {% endif %}
                {% endfor %}
            </p>


{#            <p class="card-text"><i>Quizzes: </i>#}
{#                {% for i in class_students %}#}
{#                    {% if i.classroom == class %}#}
{#                        <p><strong> {{ i.quiz }}</strong></p>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </p>#}


        </div>
      </div>
    </div>
      {% endfor %}


  </div>
</div>

<style>
.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}
</style>

{% endblock %}
