{% extends 'templates/base/main.html' %}

{% block content %}

<div class="container">
<hr>
    <center>
  <h3 class="mb-4">Leader Scores</h3></center>
    <hr>
<br>
    {% if leader_scores %}
  <div class="row">
      {% for  leaders in leader_scores %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{ leaders.score }}</h2>
          <p class="card-text">{{ leaders.user_id.username }}</p>
            <p class="card-text">{{ leaders.quiz_id.title }}</p>

        </div>
      </div>
    </div>
      {% endfor %}


  </div>
    {% else %}
        <div class="row">
        <h3>No Scores yet</h3>
              </div>
{% endif %}

</div>

<style>
.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}
</style>

{% endblock %}
