{% extends 'templates/base/main.html' %}

{% block content %}
<div class="container">
<hr>
  <h3 class="mb-4">Admin Dashboard</h3>
    <hr>
<br>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">View Reports</h2>
          <p class="card-text">View the Reports</p>
          <a href="{% url 'stats' %}" class="btn btn-success">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">View Teachers</h2>
          <p class="card-text">View all teachers</p>
          <a href="{% url 'teachers' %}" class="btn btn-danger">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">View Students</h2>
          <p class="card-text">View all students</p>
          <a href="{% url 'students' %}" class="btn btn-warning">View</a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}
</style>

{% endblock %}
